<h3 class="text-center">Gotta Catch Em All</h3>

<div class="row">
  <button type="button" id="catch-pokemon-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pokemonForm" (click)="pokemonForm.freshForm()">
    Catch a Pokemon
  </button>
</div>

<div class="list-group pokemons" *ngFor="let pokemon of pokemons">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">{{pokemon.name}}</h4>
    <p class="list-group-item-text">id: {{pokemon.id}}</p>
    <p class="list-group-item-text">type: {{pokemon.element_type}}</p>
    <p class="list-group-item-text">age: {{pokemon.age}}</p>
    <p class="list-group-item-text">sex: {{pokemon.sex}}</p>
  </li>
</div>
<app-pokemon-form #pokemonForm (onPokemonCreated)="onPokemonCreated($event)"></app-pokemon-form>
